.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!workdir/serve/main/**/build/
!workdir/serve/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!workdir/serve/main/**/bin/
!workdir/serve/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!workdir/serve/main/**/out/
!workdir/serve/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/




/workdir/
